* {
    box-sizing: border-box;
}

body {
    /* Set basic style */
    margin: 0;
    font-family: system-ui, sans-serif;
    
    /* Set mobile layout */
    min-height: 100dvh;
    display: flex;
    flex-direction: column;

    touch-action: none;
}

header {
    padding: 16px 12px 8px;
    text-align: center;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Container for cards */
#card-deck {
    width: 100%;
    height: 100%;
    position: relative;
}

.card {
    width: min(70dvw, 340px);
    aspect-ratio: 3 / 4;

    border-radius: 16px;
    background-color: lightgray;
    background-size: cover;
    background-position: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Card shadow */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

#front-card {
  z-index: 2;
  pointer-events: auto;
}

#back-card {
  z-index: 1;
}

/* Loading spinner */
.spinner {
    position: absolute;
    background-image: none !important;
    background-position: center;
    background-size: auto;

    &::after {
        content: "";
        width: 32px;
        height: 32px;
        border: 4px solid rgba(0,0,0,0.2);
        border-top-color: #000;
        border-radius: 50%;
        animation: spin 0.8s linear infinite;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@keyframes spin {
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/* results screen */
#results {
    display: none;
    padding: 20px;
    max-height: 80vh;
    overflow-y: auto;
    box-sizing: border-box;
}

.liked-cats-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;

    & img {
        width: 120px;
        height: 160px;
        object-fit: cover;
        border-radius: 12px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    }
}

footer {
    padding: 8px 12px 16px;
    text-align: center;
    font-size: 0.9rem;
    color: gray;
}